{% extends 'base.html' %}
{% load static %}
{% block title %} Home {% endblock %} 

{% block content %}
    <section class="account-section ">
        <div class="container form-container mb-3">
            <div class="TermsConditions p-2">
                <h2 class="title text-center">الشروط والأحكام</h2>
                <p>مرحبًا بكم في متجر "القمر الصغير". باستخدامك لهذا الموقع، فإنك توافق على الالتزام بهذه الشروط والأحكام. إذا كنت لا توافق على أي جزء من هذه الشروط، فيُرجى عدم استخدام الموقع.</p>
                
                <h4> الحسابات والتسجيل</h4>
                <ul>
                    <li>يجب أن يكون عمر المستخدم 18 عامًا أو أكثر لإنشاء حساب.</li>
                    <li>يتحمل المستخدم مسؤولية الحفاظ على سرية بيانات تسجيل الدخول الخاصة به.</li>
                    <li>يحتفظ المتجر بالحق في تعليق أو إنهاء الحسابات المخالفة.</li>
                </ul>
                
                <h4> الطلبات والدفع</h4>
                <ul>
                    <li>يتم عرض جميع الأسعار بعملة [العملة المحلية].</li>
                    <li>يقبل المتجر طرق الدفع المتاحة على الموقع.</li>
                    <li>يحتفظ المتجر بالحق في إلغاء الطلبات المشبوهة أو غير المكتملة.</li>
                </ul>
                
                <h2 class="title text-center mt-4">سياسة الخصوصية</h2>
                <h4> المعلومات التي نقوم بجمعها</h4>
                <p>عند التسجيل في الموقع، نقوم بجمع معلومات مثل الاسم، البريد الإلكتروني، العنوان، ورقم الهاتف.</p>
                
                <h4> كيفية استخدام المعلومات</h4>
                <ul>
                    <li>لمعالجة الطلبات وإتمام عمليات الشراء.</li>
                    <li>لتحسين خدماتنا وتجربة المستخدم.</li>
                    <li>لإرسال العروض الترويجية والإعلانات (إذا وافق المستخدم على ذلك).</li>
                </ul>
            </div>
            
        </div>
    </section>
{% endblock %}



































