{% extends 'base.html' %}
{% load static %}
{% block title %} About Us {% endblock %} 

{% block content %}
    {% comment %} 📌form  🛑 🔴Loop ❌endLoop 🌸done {% endcomment %}

    <section class="about-section">
        <div class="container">

            <div class=" my-5">
                <div class="row">
                    <div class="col-md-6">
                        <h2 class="section-title title">من نحن وكيف بدأنا؟</h2>
                        <br>
                        <p class="fs-5">بدأت حكاية "القمر الصغير" من قلب كل أم وأب، يبحثان عن الأفضل لصغارهم. نعلم كم
                            تنمو هذه
                            اللحظات سريعًا، منذ أول ضحكة صغيرة إلى أول كلمة تناديك "ماما" و"بابا". ندرك أن كل مرحلة في
                            حياة طفلك مليئة بالحب، والتحدي، ولهذا نحن هنا لنكون جزءًا من رحلتك.
                            <br> <br>
                            في "القمر الصغير"، لا نقدم فقط مستلزمات الأطفال، بل نقدم راحة للأهل. لأننا نعلم أن تنشئة طفل
                            سعيد تبدأ من راحة والديه، نقدم منتجات آمنة، مريحة، ومصممة بحب لتلبي احتياجات طفلك وترافقه في
                            كل خطوة.
                            <br> <br>
                            نؤمن بأن لكل طفل فرديته، ولهذا نصمم اختيارات تناسب الجميع. من الملابس الناعمة إلى الأدوات
                            اليومية، نهتم بأدق التفاصيل لنضمن تجربة آمنة وسلسة للأمهات والآباء. "القمر الصغير" ليس مجرد
                            متجر، بل هو شريك لك في رحلة الأبوة والأمومة، يرافقك في لحظات السعادة والتحديات، ليجعل كل
                            تجربة أكثر سهولة وجمالاً.
                            <br>
                        </p>
                    </div>
                    <div class="col-md-6 text-center">
                        <div class="image-box">
                            <img src="{%static 'images/image_type_a/baby_2.jpg'%}" alt="" class="r-a">
                            <img src="{%static 'images/Logo/3stare.png'%}" alt="" class="r-b">
                        </div>
                        <!-- <img src="image/image_type_c/p_11a.webp" class="img-fluid rounded" alt="طفل صغير مع دميته"> -->
                    </div>
                </div>
            </div>

            <div class=" my-5">
                <h3 class="section-title title">أجمل مشاركات الأهل لصور صغارهم</h3>
                <br> <br>
                <div class="row gallery">
                    {% for baby in babies %}
                    {% comment %} 🔴Loop Just 4 items {% endcomment %}
                        {% if baby.baby_picture %}
                            <div class="col-6 col-md-3">
                                <img src="{{ baby.baby_picture.url }}" alt="صورة {{ baby.baby_name }}" >
                            </div>
                        {% else %}
                            <p>لا توجد صورة</p>
                        {% endif %}
                    {% comment %} ❌endLoop {% endcomment %}
                    {% endfor %}
                </div>
            </div>
        </div>
    </section>
{% endblock %}
