{% extends 'base.html' %}
{% load static %}
{% block title %} Home {% endblock %} 

{% block content %}
{% comment %} 📌form  🔗Link {% endcomment %}
    <section class="signIn-section ">
        <div class="container form-container mb-3">

            <form method="POST" class="form-container-1" id="contactForm">
                {% csrf_token %}
                {% if messages %}
                    {% for message in messages %}
                    {% if message.tags == 'error' %}
                        <center><h4 style="color: firebrick;">{{message}}</h4></center>
                    {% else %}
                        <center><h4 style="color: dodgerblue;">{{message}}</h4></center>
                    {% endif %}
                    {% endfor %}
                {% endif %}
          
                <h1 class="form-title"> نسيان كلمة المرور </h1>

                <div class="email mb-3 filde-container">
                    <label class="form-label">الإيميل</label>
                    <input type="email" name="email" class="en form-control" id="email" placeholder="email@gmail.com" >
                    <div class="invalid-feedback">الرجاء إدخال بريد إلكتروني صحيح</div>
                </div>
            
                <button class="btn-primary-one w-100" type="submit" id="btnSignIn" name="btnSignIn"> طلب اعادة التعيين </button>

                <div class="account-link text-center mt-3">
                    <a href="{% url 'signUp' %}" class="text-decoration-none mt-2">ليس لديك حساب؟ <strong class="text-primary text-decoration-underline">إنشاء جديد</strong></a>
                </div>
            </form>
        </div>
    </section>
{% endblock %}
{% block javascript %}
    <script src="{% static 'js/forms.js' %}"></script>
    <script>
        // دالة عامة لتبديل إظهار/إخفاء كلمة المرور
        function togglePassword(fieldId, button) {
            const passwordInput = document.getElementById(fieldId);
            const eyeOpen = button.querySelector('.on');
            const eyeClosed = button.querySelector('.off');

            if (passwordInput.type === 'password') {
                passwordInput.type = 'text';
                eyeOpen.classList.add('d-none');
                eyeClosed.classList.remove('d-none');
            } else {
                passwordInput.type = 'password';
                eyeOpen.classList.remove('d-none');
                eyeClosed.classList.add('d-none');
            }
        }
 
        const form = document.getElementById("contactForm");
        form.addEventListener("submit", (e) => {
            if (!runValidateAllFields() || !runValidateEmail() ) {
                e.preventDefault();
                console.log('تم منع إرسال النموذج لوجود أخطاء.');
            }
        });

    </script>
{% endblock %}
