{% extends 'base.html' %}
{% load static %}
{% block title %} Home {% endblock %} 

{% block content %}
{% comment %} 📌form  🔗Link {% endcomment %}
    <section class="signIn-section ">
        <div class="container form-container mb-3">

            <section  class="form-container-1">
                <h1 class="form-title"> اعادة التعيين  لكلمة المرور </h1>
                <p class="" style="">
                  تم إرسال رابط إعادة تعيين كلمة المرور إلى بريدك الإلكتروني. يرجى ملاحظة أنه 
                </p>
                <b style="color: var(--bs-danger-text-emphasis);" >سينتهي صلاحيته خلال 10 دقائق</b>!
            </section>
        </div>
    </section>
{% endblock %}
{% block javascript %}
    
{% endblock %}
